@import"https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700;800&display=swap";

  
body {
    font-size: 15px;
}
  
* {
    font-family: Signika, sans-serif;
}

.form-control {
    border-radius: 0.25em;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


span.badge.badge-pill.badge-blue {
    padding: 2px 4px;
    color: red;
    font-weight: 600;
    background: none;
}

.custom-control label span[name="nameServer"]:after {
    padding: 2px 4px;
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
}

.custom-control.price-disabled label span[name="nameServer"]:after {
    background-color: orangered;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    padding: 2px 4px;
}

.col-sm-9.bold .card {
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all .3s;
    color: #000;
    font-weight: 500;
}

.note-content-service-server p {
    color: #000;
    font-weight: 400;
}

.card-body {
    border-radius: 0.25em;
}

.btn-primary {
    border-radius: 0.25em!important;
}

.card {
    border-radius: 0.25em;
}

.form-control-sm {
    height: (1.5em + 0.5rem + 2px);
}