@import"https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700;800&display=swap";
  
.logo-icon {
   display: none;
}

.sidebar-wrapper .sidebar-header .logo-img {
    width: 185px;
}


@media only screen and (max-width: 1199px) {
    .logo-icon {
        display: none;
    }
}

body {
    font-size: 15px;
}
  
* {
    font-family: Signika, sans-serif;
}
  
.fw-bold {
    font-weight: 500 !important;
}
  
.ant-btn-primary {
    background-color: #1677ff;
}

.btn.btn-primary.w-100 {
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
}

.btn.btn-primary#btn_reload {
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
}


.btn-primary {
    background-color: rgb(48, 133, 214);
    border: rgb(48, 133, 214);
}

.bg-danger {
    --tw-bg-opacity: 1;
    background-color: rgb(231 81 90 / var(--tw-bg-opacity))!important;
}

.badge {
    font-weight: 500!important;
}
